<header>
    <div class="container">
        <div class="logo">
            <link rel="icon" type="image/svg" href="../img/logo5.svg"> 
            
            <a href="index.html">
                <img src="../img/logo5.svg" alt="Logo Twojej Firmy 3D">
            </a>
            <span class="location-tag">Trójmiasto i Okolice</span>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Start</a></li>
                <li><a href="onas.html">O Nas</a></li>
                <li><a href="uslugi.html">Usługi</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="cennik.html">Cennik</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </nav>
    </div>
    
</header>